'context-menu':
  '.entries.list-tree .file.entry.list-item':[
    label: 'AtomSync',
    submenu:[
      {label: 'Upload File', command: 'atom-sync:upload-file'}
      {label: 'Download File', command: 'atom-sync:download-file'}
      {label: 'Delete File', command: 'atom-sync:delete-file'}
      {label: 'Monitor File (Upload on External Save)', command: 'atom-sync:monitor-file'}
      {label: 'Configure', command: 'atom-sync:configure'}
    ]
  ]

  '.entries.list-tree .header.list-item, .header.list-item.project-root-header':[
    label: 'AtomSync',
    submenu:[
      {label: 'Upload Folder', command: 'atom-sync:upload-folder'}
      {label: 'Upload Folder Change', command: 'atom-sync:upload-git-change'}
      {label: 'Download Folder', command: 'atom-sync:download-folder'}
      {label: 'Delete Folder', command: 'atom-sync:delete-folder'}
      {label: 'Configure', command: 'atom-sync:configure'}
    ]
  ]
